PROF_*
*.DS_Store
*.idea
credentials*
*checkpoint.ipynb
.ipynb_checkpoints
**/*.ipynb_checkpoints/
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*/__pycache__/*
01_Programacion_basica_y_Ramp-Up/Sprint_01/Unidad_02/.DS_Store
01_Programacion_basica_y_Ramp-Up/Sprint_01/Unidad_01/.DS_Store
01_Programacion_basica_y_Ramp-Up/Sprint_01/.DS_Store
01_Programacion_basica_y_Ramp-Up/.DS_Store
.DS_Store
**/00_Ejercicios_Warmup/
**/01_Workout/
**/02_Ejercicios_Workout/